@model HRMS.Models.CheckedInOutTime

@{
    ViewData["Title"] = "Create New Checked In/Out Time";
}

@*<h1>Create</h1>*@

<div class="container">
    <form asp-action="Create">
        <div class="row mb-5">

            <h4>Create a new Checked In/Out Time</h4>
        </div>
        <div class="row mb-5"> 
            <span asp-validation-for="RoomTypeId" class="text-danger"></span>
        </div>
        <div class="row mb-5">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">

                    <label class="form-label">Select Room Type</label>

                    <div class="row">
                        <div class="col-6">
                            <select asp-for="RoomTypeId" class="form-select" asp-items="ViewBag.RoomTypeId"></select>
                        </div>
                        <div class="col-6">
                            <a class='btn btn-outline-primary'
                               asp-controller="RoomTypes" asp-action="Index">
                                New Room Type
                            </a>
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <table class="table table-boderless">
                        <tr>
                            <td><lable class="form-label">Checked In Hour:</lable></td>
                            <td>
                                <select name="CheckedInHour" class="form-select">
                                    @for (int i = 1; i <= 23; i++)
                                    {
                                        @if (i < 10)
                                        {
                                            string iString = i.ToString();
                                            iString = "0" + iString;
                                            <option value="@iString">@iString</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td><lable class="form-label">Minute:</lable></td>
                            <td>
                                <select name="CheckedInMinute" class="form-select">
                                    @for (int i = 0; i <= 60; i = i + 10)
                                    {
                                        @if (i == 0)
                                        {
                                            string iString = i.ToString();
                                            iString = "00";
                                            <option value="@iString">@iString</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }

                                    }
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td><lable class="form-label">Checked Out Hour:</lable></td>
                            <td>
                                <select name="CheckedOutHour" class="form-select">
                                    @for (int i = 1; i <= 23; i++)
                                    {
                                        @if (i < 10)
                                        {
                                            string iString = i.ToString();
                                            iString = "0" + iString;
                                            <option value="@iString">@iString</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    }
                                </select>
                            </td>
                            <td><lable class="form-label">Minute:</lable></td>
                            <td>
                                <select name="CheckedOutMinute" class="form-select">
                                    @for (int i = 0; i <= 60; i = i + 10)
                                    {
                                        @if (i == 0)
                                        {
                                            string iString = i.ToString();
                                            iString = "00";
                                            <option value="@iString">@iString</option>
                                        }
                                        else
                                        {
                                            <option value="@i">@i</option>
                                        }

                                    }
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                @*                <div class="mb-3">
                <table class="table table-boderless table-sm">
                </table>
                </div>
                *@
            </div>
        </div>

        <a asp-action="Index" class="btn btn-info">
            <i class="material-icons">keyboard_backspace</i>
            Back
        </a>

        <input type="submit" value="Create" class="btn btn-primary mx-3" />
    </form>
</div>


