@model HRMS.Models.Booking

@{
    ViewData["Title"] = "Details";
}

@*<h1>Details</h1>*@


<div class="container">
    <div class="row mb-5">
    <h4>Booking Detail</h4>
    </div>
    <dl class="row mb-5">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guest.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agent.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>

    <a asp-action="Index" class="btn btn-info">
        <i class="material-icons">keyboard_backspace</i>
        Back
    </a>
@*    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary mx-3">Edit</a>
*@</div>
