<!--
=========================================================
* Material Dashboard 2 - v3.0.4
=========================================================

* Product Page: https://www.creative-tim.com/product/material-dashboard
* Copyright 2022 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <title>@ViewContext.RouteData.Values["Controller"] - Oasis Hotel</title>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="~/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/css/nucleo-svg.css" rel="stylesheet" />

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <!-- material dashboard-->
    <link id="pagestyle" href="~/css/material-dashboard.css?v=3.0.4" rel="stylesheet" />
    <!-- bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- data tables-->
    <link rel="stylesheet" href="~/lib/DataTables/datatables.min.css" />
    <!-- select 2-->
    <link rel="stylesheet" href="~/css/select2.min.css" />
    <!-- user defined css-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*    <link rel="stylesheet" href="~/HRMS.styles.css" asp-append-version="true" />*@

    <link rel="stylesheet" href="~/css/bootstrap-print.css" media="print" />
</head>


<body class="g-sidenav-show  bg-gray-200">
    @{
        var ctrlName = ViewContext.RouteData.Values["Controller"]?.ToString();
        var path = ViewContext.HttpContext.Request.Path.Value.ToString();
        var actionName = ViewContext.RouteData.Values["Action"]?.ToString();
        var username = User.Identity.Name;
        var userRole = User.IsInRole("Admin") ? "Admin" : (User.IsInRole("Manager") ? "Manager" : "Receptionist");
    }
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0">
                <img src="~/img/oasis/logo-nav-head-white.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold text-white">Oasis Hotel</span>
            </a>
        </div>
        <hr class="horizontal light mt-0 mb-2">
        <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class='nav-link text-white
							 @(ctrlName == "Home" ? "active bg-gradient-primary" : "")'
                       asp-controller="Home" asp-action="Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">home</i>
                        </div>
                        <span class="nav-link-text ms-1">Home</span>
                    </a>
                </li>

                <li class="nav-items mt-3">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Operations</h6>
                </li>

                <li class="nav-item" data-role="Admin,Manager,Receptionist">
                    <a class='nav-link text-white
							 @(ctrlName == "Guests" ? "active bg-gradient-primary" : "")'
                       asp-controller="Guests" asp-action="Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">people</i>
                        </div>
                        <span class="nav-link-text ms-1">Guests</span>
                    </a>
                </li>

                <li class="nav-item" id="nav-rooms" data-role="Receptionist">
                    <a class='nav-link text-white
							 @(ctrlName == "Rooms" && !path.Contains("Check") && !path.Contains("Reserve") ? "active bg-gradient-primary" : "")'
                       asp-controller="Rooms" asp-action="Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">domain</i>
                        </div>
                        <span class="nav-link-text ms-1">Rooms</span>
                    </a>
                </li>

                <li class="nav-item" id="nav-bookings" data-role="Admin,Manager,Receptionist">
                    <a class='nav-link text-white
							 @(ctrlName == "Bookings" && !path.Contains("Create") ? "active bg-gradient-primary" : "")'
                       asp-controller="Bookings" asp-action="Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">bookmarks</i>
                        </div>
                        <span class="nav-link-text ms-1">Bookings</span>
                    </a>
                </li>

                <li class="nav-item" id="nav-bookings" data-role="Admin,Manager,Receptionist">
                    <a class='nav-link text-white
							 @(path.Contains("CreatePeriodWalkin") ? "active bg-gradient-primary" : "")'
                       asp-controller="Bookings" asp-action="CreatePeriodWalkin">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">directions_walk</i>
                        </div>
                        <span class="nav-link-text ms-1">Walk-in</span>
                    </a>
                </li>

                <li class="nav-item" id="nav-checkin" data-role="Admin,Manager,Receptionist">
                    <a class='nav-link text-white
							 @(path.Contains("IndexReserved") ? "active bg-gradient-primary" : "")'
                       asp-controller="Rooms" asp-action="IndexReserved">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">fast_forward</i>
                        </div>
                        <span class="nav-link-text ms-1">Check In</span>
                    </a>
                </li>

                <li class="nav-item" id="nav-checkout" data-role="Admin,Manager,Receptionist">
                    <a class='nav-link text-white
							 @(path.Contains("IndexCheckedIn") ? "active bg-gradient-primary" : "")'
                       asp-controller="Rooms" asp-action="IndexCheckedIn">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">fast_rewind</i>
                        </div>
                        <span class="nav-link-text ms-1">Check Out</span>
                    </a>
                </li>

                <li class="nav-item" id="nav-checkout" data-role="Admin,Manager,Receptionist">
                    <a class='nav-link text-white
							 @(path.Contains("AllServices") ? "active bg-gradient-primary" : "")'
                       asp-controller="Trans" asp-action="AllServices">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">storefront</i>
                        </div>
                        <span class="nav-link-text ms-1">Services</span>
                        <div class="mx-1"></div>
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">restaurant</i>
                        </div>
                        <span class="nav-link-text ms-1">Restaurant</span>
                    </a>
                </li>

                @*                <li class="nav-item" data-role="Admin,Manager,Receptionist">
                <a class='nav-link text-white
                @(ctrlName == "Receipts" ? "active bg-gradient-primary" : "")'
                asp-controller="Receipts" asp-action="Index">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">insights</i>
                </div>
                <span class="nav-link-text ms-1">Receipts</span>
                </a>
                </li>
                *@

@*
                <li class="nav-items mt-3" data-role="Admin,Manager">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Manage</h6>
                </li>


                <li class="nav-item" data-role="Admin,Manager">
                    <a class='nav-link text-white
							 @(ctrlName == "Reports" ? "active bg-gradient-primary" : "")'
                       asp-controller="Reports" asp-action="Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">insights</i>
                        </div>
                        <span class="nav-link-text ms-1">Reports Summary</span>
                    </a>
                </li>


                <li class="nav-item" data-role="Admin,Manager">
                    <a class='nav-link text-white
							 @(ctrlName == "Reports" ? "active bg-gradient-primary" : "")'
                       asp-controller="Reports" asp-action="DetailsView">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">insights</i>
                        </div>
                        <span class="nav-link-text ms-1">Reports Details</span>
                    </a>
                </li>
*@
                <li class="nav-items mt-3" data-role="Admin,Manager">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Setting Pages</h6>
                </li>

                <li class="nav-item" id="nav-services" data-role="Admin">
                    <a class='nav-link text-white
							 @(path.Contains("Users/Users") ? "active bg-gradient-primary" : "")'
                    @* asp-area="Identity" asp-page="/Account/Register">*@
                       href="/Users/Users">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">manage_accounts</i>
                        </div>
                        <span class="nav-link-text ms-1">Manage Users</span>
                    </a>
                </li>

                <li class="nav-item" data-role="Admin,Manager">
                    <a class='nav-link text-white
							 @(ctrlName == "RoomTypes" ? "active bg-gradient-primary" : "")'
                       asp-controller="RoomTypes" asp-action="Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">domain</i>
                        </div>
                        <span class="nav-link-text ms-1">Room Types</span>
                    </a>
                </li>


                <li class="nav-item" data-role="Admin,Manager">
                    <a class='nav-link text-white
							 @(ctrlName == "CheckedInOutTimes" ? "active bg-gradient-primary" : "")'
                       asp-controller="CheckedInOutTimes" asp-action="Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">domain</i>
                        </div>
                        <span class="nav-link-text ms-1">Check In/Out Time</span>
                    </a>
                </li>

                <li class="nav-item" id="nav-rooms" data-role="Admin,Manager">
                    <a class='nav-link text-white
							 @(ctrlName == "Rooms" && !path.Contains("Check") && !path.Contains("Reserve") ? "active bg-gradient-primary" : "")'
                       asp-controller="Rooms" asp-action="Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">domain</i>
                        </div>
                        <span class="nav-link-text ms-1">Rooms</span>
                    </a>
                </li>

                <li class="nav-item" data-role="Admin,Manager">
                    <a class='nav-link text-white
							 @(ctrlName == "Agents" ? "active bg-gradient-primary" : "")'
                       asp-controller="Agents" asp-action="Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">support_agent</i>
                        </div>
                        <span class="nav-link-text ms-1">Agents</span>
                    </a>
                </li>


                <li class="nav-item" id="nav-services" data-role="Admin,Manager">
                    <a class='nav-link text-white
							 @(ctrlName == "Services" ? "active bg-gradient-primary" : "")'
                       asp-controller="Services" asp-action="Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">store</i>
                        </div>
                        <span class="nav-link-text ms-1">Services</span>
                    </a>
                </li>




                @*<li class="nav-item">
                <a class='nav-link text-white
                @(ctrlName == "Rooms" ? "active bg-gradient-primary" : "")'
                asp-controller="Rooms" asp-action="WalkIn">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">domain</i>
                </div>
                <span class="nav-link-text ms-1">Walk In</span>
                </a>
                </li>*@





                @*<li class="nav-item">
                <a class='nav-link text-white
                @(ctrlName == "Transactions" ? "active bg-gradient-primary" : "")'
                asp-controller="Transactions" asp-action="Index">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">domain</i>
                </div>
                <span class="nav-link-text ms-1">Transactions</span>
                </a>
                </li>*@

                <li class="nav-item" data-role="Admin,Manager">
                    <a class='nav-link text-white
							 @(ctrlName == "Restaurants" ? "active bg-gradient-primary" : "")'
                       asp-controller="Restaurants" asp-action="Index">
                        <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="material-icons opacity-10">restaurant</i>
                        </div>
                        <span class="nav-link-text ms-1">Restaurant</span>
                    </a>
                </li>











                <li class="nav-item mt-3">
                    <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account</h6>
                </li>

                <li class="nav-item">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-white">
                                <i class="material-icons opacity-10">logout</i>
                                Logout
                            </button>
                        </form>
                    }
                    else
                    {
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-white">
                                <i class="material-icons opacity-10">login</i>
                                Login
                            </button>
                        </form>
                    }



                </li>
            </ul>
        </div>
    </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
            <div class="container-fluid py-1 px-3">
                @*<nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm" aria-current="page">
                @ViewContext.RouteData.Values["Controller"]
                </li>
                <li class="breadcrumb-item text-sm text-dark active">
                @ViewContext.RouteData.Values["Action"]
                </li>
                </ol>
                </nav>*@
                <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                    <div class="ms-md-auto pe-md-3 d-flex align-items-center"> </div>
                    <ul class="navbar-nav  justify-content-end">
                        <li class="nav-item d-flex align-items-center">
                            @*Log In/Out link*@
                            @*<a href='@(User.Identity.IsAuthenticated ? "/Account/Logout" : "/Account/Login")'
                            class="nav-link text-body font-weight-bold px-0">
                            <i class="fa fa-user me-sm-1"></i>
                            <span class="d-sm-inline d-none">
                            @(User.Identity.IsAuthenticated ? "Log Out" : "Log In")
                            </span>
                            </a>*@

                            @if (!string.IsNullOrEmpty(username))
                            {
                                <i class="material-icons m-2">account_circle</i>
                                <strong>
                                    @username.ToUpper()
                                </strong>
                                <span style="font:small; color:slategrey"> (@userRole)</span>
                            }
                            else if (!path.Contains("Login"))
                            {

                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">

                                    <button type="submit" class="btn btn-primary btn-lg">
                                        <i class="material-icons opacity-10">login</i>
                                        Login
                                    </button>
                                </form>
                            }

                        </li>
                        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </a>
                        </li>
                        @*plugin ui configrator*@
                        @*<li class="nav-item px-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0">
                        <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
                        </a>
                        </li>*@
                        @*notifications*@
                        @*<li class="nav-item dropdown pe-2 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell cursor-pointer"></i>
                        </a>
                        <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                        <li class="mb-2">
                        <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="d-flex py-1">
                        <div class="my-auto">
                        <img src="~/img/team-2.jpg" class="avatar avatar-sm  me-3 ">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                        <h6 class="text-sm font-weight-normal mb-1">
                        <span class="font-weight-bold">New message</span> from Laur
                        </h6>
                        <p class="text-xs text-secondary mb-0">
                        <i class="fa fa-clock me-1"></i>
                        13 minutes ago
                        </p>
                        </div>
                        </div>
                        </a>
                        </li>

                        </ul>
                        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->


        <div class="container-fluid py-4">

            <div class="spinner">
                <div class="center-div">
                    <div class="inner-div">
                        <div class="fa-3x">
                            <i class="fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>

            @RenderBody()
            <!--
                        <div class="row">
            @*				<div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                                <div class="card">
                                    <div class="card-header p-3 pt-2">
                                        <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                                            <i class="material-icons opacity-10">weekend</i>
                                        </div>
                                        <div class="text-end pt-1">
                                            <p class="text-sm mb-0 text-capitalize">Today's Money</p>
                                            <h4 class="mb-0">$53k</h4>
                                        </div>
                                    </div>
                                    <hr class="dark horizontal my-0">
                                    <div class="card-footer p-3">
                                        <p class="mb-0"><span class="text-success text-sm font-weight-bolder">+55% </span>than last week</p>
                                    </div>
                                </div>
                            </div>
            *@
                        </div>
                        < class="row mt-4">
            @*				<div class="col-lg-4 col-md-6 mt-4 mb-4">
                                <div class="card z-index-2 ">
                                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                        <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                            <div class="chart">
                                                <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h6 class="mb-0 ">Website Views</h6>
                                        <p class="text-sm ">Last Campaign Performance</p>
                                        <hr class="dark horizontal">
                                        <div class="d-flex ">
                                            <i class="material-icons text-sm my-auto me-1">schedule</i>
                                            <p class="mb-0 text-sm"> campaign sent 2 days ago </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
            *@
            -->

        </div>
    </main>

    <footer class="footer py-1 p">
        <div class="container">
            <div class="row align-items-center justify-content-center copyright text-sm text-muted">
                &copy; 2022 - HRMS - Htet Aung Kyaw
            </div>
        </div>
    </footer>

    @*<div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
    <i class="material-icons py-2">settings</i>
    </a>
    <div class="card shadow-lg">
    <div class="card-header pb-0 pt-3">
    <div class="float-start">
    <h5 class="mt-3 mb-0">UI Configuration</h5>
    </div>
    <div class="float-end mt-4">
    <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
    <i class="material-icons">clear</i>
    </button>
    </div>
    <!-- End Toggle Button -->
    </div>
    <hr class="horizontal dark my-1">
    <div class="card-body pt-sm-3 pt-0">
    <!-- Sidebar Backgrounds -->
    <div>
    <h6 class="mb-0">Sidebar Colors</h6>
    </div>
    <a href="javascript:void(0)" class="switch-trigger background-color">
    <div class="badge-colors my-2 text-start">
    <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
    <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
    <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
    <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
    <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
    <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
    </div>
    </a>
    <!-- Sidenav Type -->
    <div class="mt-3">
    <h6 class="mb-0">Sidenav Type</h6>
    <p class="text-sm">Choose between 2 different sidenav types.</p>
    </div>
    <div class="d-flex">
    <button class="btn bg-gradient-dark px-3 mb-2 active" data-class="bg-gradient-dark" onclick="sidebarType(this)">Dark</button>
    <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-transparent" onclick="sidebarType(this)">Transparent</button>
    <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
    </div>
    <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
    <!-- Navbar Fixed -->
    <div class="mt-3 d-flex">
    <h6 class="mb-0">Navbar Fixed</h6>
    <div class="form-check form-switch ps-0 ms-auto my-auto">
    <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
    </div>
    </div>
    <hr class="horizontal dark my-3">
    <div class="mt-2 d-flex">
    <h6 class="mb-0">Light / Dark</h6>
    <div class="form-check form-switch ps-0 ms-auto my-auto">
    <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
    </div>
    </div>
    </div>
    </div>
    </div>*@

    @*Original Codes*@
    <!--
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HRMS</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
    @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - HRMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

    -->
    <!--   Core JS Files   -->
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="~/js/plugins/chartjs.min.js"></script>

    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>

    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/js/material-dashboard.min.js?v=3.0.4"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/DataTables/datatables.min.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        // to hide elements based on user roles
        const role = '@userRole.ToLower()';
        var els = document.querySelectorAll('[data-role]');
        els.forEach(function (el) {
            var auth_roles = el.dataset.role.toLowerCase();
            //console.log(auth_roles);
            //console.log(role);
            if (!auth_roles.includes(role)) {
                el.style.display = 'none';
            }
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
