@model IEnumerable<HRMS.Models.Room>

@{
    ViewData["Title"] = "Index";
}

<h1>Rooms</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Index" class="btn btn-outline-info">
        <i class="material-icons">keyboard_backspace</i>
        Back
    </a>
</p>
<hr />
<p>
    <a asp-action="Index">Rooms</a>
    @for (int i = 0; i <= int.Parse(ViewData["Counter"].ToString()); i++)
    {
        var item = i.ToString();
        <a asp-action="IndexAvailableRoomType" asp-route-id="@ViewData[item]">@ViewData[item]</a>
    }
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomStatus)
            </th>           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomStatus)
            </td>           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                    <i class="material-icons">edit</i>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">
                    <i class="material-icons">visibility</i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
