@model IEnumerable<HRMS.Models.Room>

@{
    ViewData["Title"] = "Rooms";
}

@*<h1>Rooms</h1>*@
<div class="container">
    <div class="row mb-3">
        <div class="col"><h4>Manage Rooms</h4></div>
        <div class="col">
            <p>
                <a asp-action="Create" class="btn btn-outline-primary">
                    <i class="material-icons opacity-10">add_circle_outline</i>
                    Add New
                </a>
            </p>
            @* <p>
            <a asp-action="Index" class="btn btn-outline-info btn-sm">Rooms</a>
            @for (int i = 0; i <= int.Parse(ViewData["Counter"].ToString()); i++)
            {
            var item = i.ToString();
            <a asp-action="IndexAvailableRoomType" asp-route-id="@ViewData[item]"
            class="btn btn-outline-info btn-sm">
            @ViewData[item]
            </a>
            }

            </p>*@

        </div>
    </div>
    <div class="row">
        <table class="table data-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomStatus)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomStatus)
                        </td>
                        <td>
                            @* <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                        <i class="material-icons">edit</i>
                        </a>*@
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">
                                <i class="material-icons">visibility</i>
                            </a>
                            @{
                                if (item.RoomStatus == RoomStatus.Available)
                                {

                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                                        <i class="material-icons">delete</i>
                                    </a>
                                }
                                else
                                {
                                    <button class="btn btn-outline-dark disabled">
                                        <i class="material-icons">delete</i>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>