@model IEnumerable<HRMS.Models.Room>

@{
    ViewData["Title"] = "Walk In Available Rooms";
}

<h1>Walk In Available Rooms</h1>
@if (TempData["error"] is not null)
{
    <span class="text-danger">@TempData["error"]</span>
}
<hr />
<form asp-action="WalkInCheckIn">
    <div class="mb-3">
        <label class="form-label">Deposit</label>
        <input name="Deposit" type="number" class="form-control" value="@ViewBag.Price" />
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @for (int x = 1; x <= 5; x++)
    {
        string guest = "Guest" + x.ToString();
        <div class="mb-3">
            <label class="form-label">Guest @x</label>
            <select name=@guest class="form-select" asp-items="ViewBag.GuestId">
                <option value="" selected>Select Guest</option>
            </select>
        </div>
    }
<div class="mb-3">
    <label class="form-label">Comment</label>
    <input name="comment" class="form-control" />
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Select</th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoomStatus)
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="@i" value="@item.Id" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomStatus)
                    </td>
                </tr>
                i++;
            }
        </tbody>
    </table>

<div class="mb-3">
        <input type="submit" value="Check In" class="btn btn-primary" />
</div>
<hr />

    <input type="hidden" name="total" value="@i" />
    <input type="hidden" name="fromDateTime" value="@ViewBag.FromDateTime" />
    <input type="hidden" name="toDateTime" value="@ViewBag.ToDateTime" />  
    <input type="hidden" name="roomTypeId" value="@ViewBag.RoomTypeId" />
</form>
